 <div class="row panel panel-default">
  <div class="panel-heading">
   <a href="https://twitter.com/{{body.user.screenName}}" target="_blank"><b>@{{body.user.screenName}}</b></a>
   <div class="pull-right">
    Followers count: {{body.user.followersCount}}
   </div>
  </div>
  <div class="panel-body">{{body.text}}</div>
 </div>
