{{#body.ListStatus}}
 <div class="row panel panel-default">
  <div class="panel-heading">
   <a href="https://twitter.com/{{user.screenName}}" target="_blank"><b>@{{user.screenName}}</b></a>
   <div class="pull-right">
    Followers count: {{user.followersCount}}
   </div>
  </div>
  <div class="panel-body">{{text}}</div>
 </div>
{{/body.ListStatus}}
